/* COMMON */
body {
  position: relative;
  min-height: 100vh;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Pretendard', sans-serif;
}

/* HEADER */
.container {
  position: absolute;
  width: 466px;
  height: 727px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #f8f8f8;
  border-radius: 40px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

header {

}

header h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3px;
}