/* COMMON */
body {
  position: relative;
  min-height: 100vh;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}

button {
  background-color: #655AE8;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}

.info {
  margin-bottom: 15px;
}

/* box shape input field */
.box {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 5px 0 5px 15px;
  border-radius: 4px;
  border: 1px solid #d9d6d6;
  color: #383838;
  font-weight: 400;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}

.box::placeholder {
  color: #a0a0a0;
}

/* error msg */
.info .error-msg {
  font-size: 12px;
  margin: 5px 0 0 10px;
}

/* select box */
select.box {
  margin-left: 5px;
  padding-left: 10px;
  background-color: #ffffff;
}

option {
  font-size: 16px;
}

/* CONTAINER */
.container {
  position: absolute;
  display: flex;
  width: 450px;
  height: 800px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #f8f8f8;
  border-radius: 40px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.content {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header  {
  width: 100%;
}

header h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 3px;
}

/* SECTION */
section {
  margin-top: 50px;
}

/* SECTION - ID */
.info #info__id {
  position: relative;
}

#info__id button {
  position: absolute;
  width: 90px;
  height: 40px;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  border-radius: 3px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* SECTION - EMAIL */
.info#info__email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info#info__email input {
  display: flex;
  width: 100%;
}

.info#info__email span {
  font-size: 14px;
  margin: 0 3px;
}

.info .box#domain__list option {
  font-size: 14px;
  background-color: #ffffff;
}

/* SECTION - BIRTH */
.info#info__birth {
  display: flex;
  margin-bottom: 20px;
}

.info#info__birth select {
  margin-left : 7px;
}

.info#info__birth select:first-child {
  margin-left : 0px;
}

.info#info__birth select::-webkit-scrollbar {
  width: 10px;
}

.info#info__birth select::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 3px;
}

.info#info__birth select::-webkit-scrollbar-track {
  background-color: #ebe9e9;
  border-radius: 6px;
}

/* SUBMIT */
button#submit {
  width: 200px;
  height: 45px;
  margin-top: 35px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}